{% extends 'admin.html.twig' %}

{% block content %}
    <h1>Liste des Cours</h1>
    <hr>
    <div class="text-center">
        <a class="btn btn-primary mb-15" href="{{ path('classes_new') }}">Nouveau cours</a>
    </div>
    <table class="table">
        <thead>
            <tr class="text-center">
                <th>Id</th>
                <th>Titre</th>
                <th>Slug</th>
                <th>Date de création</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for class in classes %}
            <tr class="text-center">
                <td>{{ class.id }}</td>
                <td>{{ class.title }}</td>
                <td>{{ class.slug }}</td>
                <td>{{ class.dateCreated ? class.dateCreated|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('classes_show', {'id': class.id}) }}">Voir</a>
                    &nbsp;
                    <a class="btn btn-warning" href="{{ path('classes_edit', {'id': class.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
