{% extends 'admin.html.twig' %}

{% block content %}
    <h1>Liste des Catégories</h1>
    <hr>
    <div class="text-center">
        <a class="btn btn-primary mb-15" href="{{ path('category_new') }}">Nouvelle Catégorie</a>
    </div>
    <table class="table">
        <thead>
            <tr class="text-center">
                <th>Id</th>
                <th>Libellé</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr class="text-center">
                <td>{{ category.id }}</td>
                <td>{{ category.label }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('category_show', {'id': category.id}) }}">Voir</a>
                    &nbsp;
                    <a class="btn btn-warning" href="{{ path('category_edit', {'id': category.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
